/* header {
  text-align: center;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
} */

/* center and color title box */
.title {
  text-align: center;
  color: black;
}

/* stylize <p> element in HTML */
p {
  text-align: center;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

/* .columns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
} */

/* stylize and format random background image */
html {
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
  background-size: 100%;
  background-repeat: no-repeat;
}

/* h1 {
  font-family: Arial, Helvetica, sans-serif;
} */

/* center modal button and move 60% from top to unobstruct form */
#modal-button {
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid aquamarine;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
}

/* change font color of modal content */
.modal-content {
  color: aliceblue;
}
