#container {
<<<<<<< HEAD
    background-color: antiquewhite;
  background-image: url('https://source.unsplash.com/1600x900/?landscape');
=======
  background-color: fuchsia;
>>>>>>> kaleb
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}
